@import 'node_modules/bootstrap/scss/bootstrap';

$mainheader-bg: #000;

#main-header {
  img {
    width: 100%;
    height: 100%;
  }

  .bg-black {
    background: $mainheader-bg;
    color: white;
  }

  .port-item {
    width: 30%;
    padding: 3em;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  @media (min-width: 1199px) {
    .port-item {
      padding: 4em !important;
    }
  }
}
